# clang-format >= 6.0
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
Language: Cpp
Standard: Cpp11
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Stroustrup
BreakConstructorInitializersBeforeComma: true
DerivePointerAlignment: true
NamespaceIndentation: None
PointerAlignment: Left
