[submodule "dependencies/glew"]
	path = dependencies/glew
	url = https://github.com/nigels-com/glew
[submodule "dependencies/libpng"]
	path = dependencies/libpng
	url = https://github.com/glennrp/libpng
[submodule "dependencies/rapidjson"]
	path = dependencies/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/utfcpp"]
	path = dependencies/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/madler/zlib
[submodule "dependencies/vendor"]
	path = dependencies/vendor
	url = https://github.com/mogemimi/pomdog-third-party
[submodule "dependencies/SDL_GameControllerDB"]
	path = dependencies/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB
[submodule "dependencies/Catch2"]
	path = dependencies/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "dependencies/mbedtls"]
	path = dependencies/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "dependencies/nanosvg"]
	path = dependencies/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "thirdparty/doctest"]
	path = thirdparty/doctest
	url = https://github.com/doctest/doctest.git
