*.a
*.lib
*.so
.DS_Store
/out/
/build/Debug
/build/Release
/build.makefiles
/docs/html

# Build output for Xcode
/build/build
/build/dependencies/build
/dependencies/build
/examples/QuickStart/build
/test/FrameworkTest/build
/test/TestApp/build

# CMake
/build.cmake

# Visual Studio
*.opendb
*.opensdf
*.pdb
*.sdf
*.sln.docstates
*.suo
*.user
*.userosscache
.vs/
ipch/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
xcshareddata
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Visual Studio Code
.vscode/

# IntelliJ IDEA
.idea/
