*.a
*.exe
*.filters
*.lib
*.pdb
*.props
*.sdf
*.sln
*.so
*.suo
*.user
*.vcproj
*.vcxproj
*.xcodeproj
.DS_Store
/out/
/build/build
/build.xcodefiles
/build.msvc*/
/build/Debug
/build/Release
/build/lib/
/third-party/libpng/build
/third-party/zlib/build
/tools/gyp
/tools/python

# PyCharm
.idea/
build/.idea/
tools/.idea/
