[submodule "dependencies/libpng"]
	path = dependencies/libpng
	url = https://github.com/glennrp/libpng
[submodule "dependencies/rapidjson"]
	path = dependencies/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/madler/zlib
[submodule "dependencies/Catch2"]
	path = dependencies/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "dependencies/mbedtls"]
	path = dependencies/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "dependencies/nanosvg"]
	path = dependencies/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "thirdparty/doctest"]
	path = thirdparty/doctest
	url = https://github.com/doctest/doctest.git
[submodule "thirdparty/flatbuffers"]
	path = thirdparty/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "thirdparty/ninja"]
	path = thirdparty/ninja
	url = https://github.com/ninja-build/ninja.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/spirv-cross"]
	path = thirdparty/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "thirdparty/utfcpp"]
	path = thirdparty/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "thirdparty/SDL_GameControllerDB"]
	path = thirdparty/SDL_GameControllerDB
	url = https://github.com/mdqinc/SDL_GameControllerDB.git
[submodule "thirdparty/vendor"]
	path = thirdparty/vendor
	url = https://github.com/mogemimi/pomdog-third-party.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = https://github.com/nigels-com/glew.git
