*.a
*.exe
*.filters
*.lib
*.pdb
*.props
*.sdf
*.sln
*.so
*.suo
*.user
*.vcproj
*.vcxproj
*.xcodeproj
.DS_Store
/out/
/build/build
/build/Debug
/build/Release
/build.xcodefiles
/build.msvs
/third_party
/third_party/libpng/build
/third_party/lua/build
/third_party/zlib/build
/tools/gyp
/tools/python

# PyCharm
.idea/
build/.idea/
tools/.idea/
