version: 0.0.{build}
os: Visual Studio 2017

# shallow_clone: true
clone_depth: 15

init:
  - git config --global core.autocrlf input

install:
  - git submodule update --init --quiet

before_build:
  - mkdir build.cmake && cd build.cmake
  - cmake ..
  - cd ..

configuration:
  - Debug
  - Release

build:
  project: build.cmake/Pomdog.sln
  verbosity: minimal
  parallel: true

test_script:
  - build.cmake\test\%CONFIGURATION%\PomdogTest
