version: 0.0.{build}
os: Visual Studio 2015
configuration: Debug

# shallow_clone: true
clone_depth: 15

init:
- git config --global core.autocrlf input

install:
- git submodule update --init --quiet
- git clone -q --depth 1 https://chromium.googlesource.com/external/gyp.git tools\gyp

before_build:
- ps: >-
    python tools\gyp\gyp_main.py test/FrameworkTest/unittest.gyp `
        --depth=. -f msvs -G msvs_version=2015 `
        --generator-output=build.msvs `
        -D component=static_library

build:
  project: build.msvs\test\FrameworkTest\unittest.sln
  verbosity: minimal

test_script:
- ps: build.msvs\test\FrameworkTest\Debug\unittest
