name: "Build on Windows"

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2025] # [windows-latest, windows-2022]
        build_config: [Debug, Release]
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out repositry
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
          fetch-depth: 50
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: Bootstrap toolchain
        run: |
          ROOT_DIR="$PWD"
          cd $ROOT_DIR/tools/cmd/bootstrap-toolchain
          go build -o $ROOT_DIR/build/tools/bootstrap-toolchain
          cd $ROOT_DIR
          ./build/tools/bootstrap-toolchain \
              --pomdogdir $ROOT_DIR \
              --builddir $ROOT_DIR/build \
              --appdir $ROOT_DIR \
              --cmake-generator "Visual Studio 17" \
              $ROOT_DIR/tools/cmd/bootstrap-toolchain/bootstrap.toml
      - name: Generate Visual Studio projects
        run: cmake -Bbuild/windows -H. -G "Visual Studio 17"
      - name: Build
        run: cmake --build build/windows --config ${{ matrix.build_config }}
      - name: Run test
        run: ./build/windows/test/${{ matrix.build_config }}/pomdog_test
