name: "Build on Linux"

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.build_targets.image }}
    strategy:
      matrix:
        build_config: [Debug, Release]
        build_targets:
          - image: mogemimi/gamedev-ubuntu
            c_compiler: clang
            cxx_compiler: clang++
            cxx_flags: -stdlib=libc++
            linker_flags: -stdlib=libc++ -lc++abi
            cmake_flags: ""
          - image: mogemimi/gamedev-ubuntu
            c_compiler: clang
            cxx_compiler: clang++
            cxx_flags: -stdlib=libstdc++
            linker_flags: -stdlib=libstdc++
            cmake_flags: ""
          - image: mogemimi/gamedev-archlinux
            c_compiler: gcc
            cxx_compiler: g++
            cxx_flags: ""
            linker_flags: ""
            cmake_flags: ""
          # - image: mogemimi/gamedev-ubuntu
          #   c_compiler: clang
          #   cxx_compiler: clang++
          #   cxx_flags: -stdlib=libc++
          #   linker_flags: -stdlib=libc++ -lc++abi
          #   cmake_flags: -DPOMDOG_USE_ADDRESS_SANITIZER=1
          # - image: mogemimi/gamedev-ubuntu
          #   c_compiler: clang
          #   cxx_compiler: clang++
          #   cxx_flags: -stdlib=libc++
          #   linker_flags: -stdlib=libc++ -lc++abi
          #   cmake_flags: -DPOMDOG_USE_MEMORY_SANITIZER=1
    steps:
      - name: Check out repositry
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
          fetch-depth: 50
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Bootstrap toolchain
        run: ./tools/script/bootstrap.sh
      - name: Generate Ninja files
        run: |
          cmake -Bbuild/linux -H. -G Ninja ${{ matrix.build_targets.cmake_flags }} \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_config }} \
            -DCMAKE_C_COMPILER=${{ matrix.build_targets.c_compiler }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.build_targets.cxx_compiler }} \
            -DCMAKE_CXX_FLAGS="${{ matrix.build_targets.cxx_flags }}" \
            -DCMAKE_EXE_LINKER_FLAGS="${{ matrix.build_targets.linker_flags }}"
      - name: Build
        run: ninja -C build/linux -k 20
      - name: Run test
        run: ./build/linux/test/pomdog_test
