name: "Build on macOS"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-15-intel # [macos-latest, macos-26]
    strategy:
      matrix:
        build_config: [Debug, Release]
        build_targets:
          - cmake_flags: ""
          - cmake_flags: -DPOMDOG_USE_ADDRESS_SANITIZER=1
    steps:
      - name: Check out repositry
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
          fetch-depth: 50
      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode_16.2.app/Contents/Developer'
      - name: Show Xcode version
        run: xcodebuild -version
      - name: Generate Xcode projects
        run: cmake -Bbuild/macos -H. -G Xcode ${{ matrix.build_targets.cmake_flags }}
      # - name: Clean
      #   run: xcodebuild -project build/macos/pomdog.xcodeproj clean
      - name: Build
        run: xcodebuild -project build/macos/pomdog.xcodeproj -configuration ${{ matrix.build_config }}
      - name: Run test
        run: ./build/macos/test/${{ matrix.build_config }}/pomdog_test
