*.a
*.exe
*.filters
*.lib
*.pdb
*.props
*.sdf
*.sln
*.so
*.suo
*.user
*.vcproj
*.vcxproj
*.xcodeproj
.DS_Store
/out/
/Build/build
/Build/Debug
/Build/Release
/Build.xcodefiles
/Build.msvs
/Tools/gyp
/Tools/python
/Pomdog
